<div>
  <h2 class="margin-bottom-0px">
  QC Status
  </h2>

<div ng-switch="$ctrl.qaStatus">
    <span ng-switch-when="pending">
        <i class="fa fa-spinner fa-spin fa-2x"></i>
        Loading QC information...
    </span>
    <span ng-switch-when="failed">
      <p>Failed to fetch QC data</p>
    </span>

    <div ng-switch-default>
      <div ng-switch="$ctrl.qaStatus.has_issue">
	<ul ng-switch-when="true" class="list-inline" style="margin-top: 5px; margin-bottom: 1.5em;">
	  <li ng-repeat="problem in $ctrl.qaStatus.messages">
	    <div class="alert alert-warning" style="margin-bottom: 0px">
	      <i class="fa fa-warning fa-2x pull-left text-danger" aria-hidden="true"></i>
	      <span>
		  <span ng-bind-html="problem"></span>
	      </span>
	    </div>
	  </li>
	</ul>

	<span ng-switch-when="false"><p>No issues found</p></span>
      </div>
    </div>
</div>
</div>
