# Database (all required)
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432

# Django
SECRET_KEY=super_secret_key
DJANGO_DEBUG=True  # if not specified, defaults to False
ALLOWED_HOSTS=localhost,127.0.0.1  # comma-separated extra hosts appended to production domains

# S3
S3_HOST=https://example.com
S3_KEY=RNAcentral_key
S3_SECRET=RNAcentral_secret

# EBI search
EBI_SEARCH_ENDPOINT=https://www.ebi.ac.uk/ebisearch/ws/rest/rnacentral  # prod endpoint

# Doorbell.io feedback
DOORBELL_API_KEY=doorbell_api_key
DOORBELL_API_ID=doorbell_app_id

# Local development only
LOCAL_DEVELOPMENT=True  # enables django-debug-toolbar, coverage and mock packages
