################################################
# standard gitignore
# adapted from https://gist.github.com/2427167
################################################

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Komodo
*.komodoproject
.komodotools

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea

# build script local files
build/buildinfo.properties
build/config/buildinfo.properties

#####################
# python .gitignore #
#####################
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
#build - commented-out by Burkov, masks some dirs in javascript packages.
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

####################
# django gitignore #
####################
*.log*
*.pot
*.pyc
rnacentral/rnacentral/compressor
rnacentral/rnacentral/databases
rnacentral/rnacentral/ebi_search_endpoints
rnacentral/rnacentral/rq_queues
local_settings.py
fab.cfg

####################
# project specific #
####################
._*
CACHE
selenium_log.txt
rnacentral/portal/management/commands/dev*

# script for setting environment variables
rnacentral/scripts/env.sh

# supervisor
supervisor/supervisord.pid
supervisor/logs/*.log

# redis database disk dump
dump.rdb

# easel fasta database SSI index
*.ssi

# default location of search export results
rnacentral/export/results
.gitsecret/keys/random_seed
