{% load staticfiles %}
{% load compress %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        {% block meta_tags %}
          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
          <meta name="description" content="">
          <meta name="viewport" content="width=device-width">
        {% endblock meta_tags %}

        <title>
            {% block title %} RNAcentral {% endblock %}
        </title>

        {% compress css %}
          {% block stylesheets %}
            <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
            <link rel="stylesheet" href="{% static "css/font-awesome-4.0.3/css/font-awesome.min.css" %}">
            <link rel="stylesheet" href="{% static "css/ebi-global.css" %}">
            <link rel="stylesheet" href="{% static "css/ebi-visual.css" %}">
            <link rel="stylesheet" href="{% static "css/main.css" %}">
          {% endblock stylesheets %}
        {% endcompress %}

        {% compress js %}
          {% block javascript %}
            <script src="{% static "js/vendor/modernizr-2.6.2-respond-1.1.0.min.js" %}"></script>
          {% endblock javascript %}
        {% endcompress %}

        <!-- Favicons -->
        <link rel="shortcut icon"                    href="{% static "img/icons/favicon.ico"                  %}" type="image/x-icon" />
        <link rel="apple-touch-icon"                 href="{% static "img/icons/apple-touch-icon.png"         %}" />
        <link rel="apple-touch-icon" sizes="57x57"   href="{% static "img/icons/apple-touch-icon-57x57.png"   %}" />
        <link rel="apple-touch-icon" sizes="60x60"   href="{% static "img/icons/apple-touch-icon-60x60.png"   %}" />
        <link rel="apple-touch-icon" sizes="72x72"   href="{% static "img/icons/apple-touch-icon-72x72.png"   %}" />
        <link rel="apple-touch-icon" sizes="76x76"   href="{% static "img/icons/apple-touch-icon-76x76.png"   %}" />
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "img/icons/apple-touch-icon-114x114.png" %}" />
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/icons/apple-touch-icon-120x120.png" %}" />
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "img/icons/apple-touch-icon-144x144.png" %}" />
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/icons/apple-touch-icon-152x152.png" %}" />

        {% block extra_head %}{% endblock %}
    </head>

    <body class="level2">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a></li> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a></li> to improve your experience.</p>
        <![endif]-->
        <header>
        {% include "portal/header.html" %}
        </header>

        <div class="container">

          <div class="container-main">
            <noscript>
              <div class="alert alert-warning">
                Javasript is currently disabled or is not supported by this browser. Please enable JavaScript for full functionality.
              </div>
            </noscript>
            {% block content %}{% endblock %}
          </div>

          <footer>
            <div id="local-footer">
              {% block optional-footer %}{% endblock  %}
            </div>
            {% include "portal/footer.html" %}
          </footer>

        </div> <!-- container -->


        {% compress js %}
          {% block extra_js %}
            <script src="{% static "js/vendor/jquery-1.10.1.min.js" %}"></script>
            <script src="{% static "js/vendor/bootstrap.min.js" %}"></script>
            <script src="{% static "js/main.js" %}"></script>
            <script>
              // $('form.global-search').on('submit', function(){
              //     window.location.href = '/search?q=' + $('#search').val();
              //     return false;
              // });
              $("form.global-search").submit(function (e) {
                    e.preventDefault();
              });

              // record javascript errors for selenium
              window.onerror=function(msg){
                  $("body").attr("JSError",msg);
              }
            </script>
          {% endblock extra_js %}
        {% endcompress %}

        {% block extra_js_uncompressed %}{% endblock %}

    </body>
</html>
