{% extends "portal/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
  {{ context.expert_db.display_name }} Expert Database
{% endblock %}

{% block content %}

<h1>
  <a href="{{ context.expert_db.url }}" target="_blank" class="expert-db-logo">
    <img src="{% static 'img/expert-db-logos/'|add:context.expert_db.logo|add:'' %}" alt="{{context.expert_db.display_name}} logo" class="img-rounded">
  </a>
  {{ context.expert_db.display_name }} Expert Database
</h1>

<p>
  {% if context.expert_db.display_name == 'miRBase' %}
    <a href="{{ context.expert_db.url }}" target="_blank">miRBase</a> is a searchable database of published miRNA sequences and annotation. Each entry in the miRBase Sequence database represents a predicted hairpin portion of a miRNA transcript (termed mir in the database), with information on the location and sequence of the mature miRNA sequence (termed miR). Both hairpin and mature sequences are available for searching and browsing, and entries can also be retrieved by name, keyword, references and annotation.
  {% elif context.expert_db.display_name == 'SRPDB' %}
    <a href="{{ context.expert_db.url }}" target="_blank">SRPDB</a> (Signal Recognition Particle Database)
    provides aligned, annotated and phylogenetically ordered sequences related to structure and function of SRP.
  {% elif context.expert_db.display_name == 'VEGA' %}
    <a href="{{ context.expert_db.url }}" target="_blank">VEGA</a> database provides high quality manual annotation of vertebrate finished genome sequences.
  {% elif context.expert_db.display_name == 'tmRNA Website' %}
    <a href="{{ context.expert_db.url }}" target="_blank">The tmRNA Website</a> contains predicted tmRNA sequences from RefSeq prokaryotic genomes, plasmids and bacteriophages.
  {% endif %}
</p>

<div class="row">

<div class="col-md-6">

  <h2>Statistics</h2>
  <ul>
    <li>
      <strong>{{ context.total_sequences|intcomma }}</strong> sequences
      from <strong>{{ context.total_organisms|intcomma }}</strong> organism{{ context.total_organisms|pluralize}}.
    </li>
    <li>
      The shortest sequence has <strong>{{ context.min_length|intcomma }}</strong> nucleotides, the longest <strong>{{ context.max_length|intcomma }}</strong>.
    </li>
    <li>
      The average length is <strong>{{ context.avg_length|floatformat:"0" }}</strong> nucleotide{{ context.avg_length|pluralize }}.
    </li>
    <li>
      First imported: {{ context.first_imported|date:"d M, Y" }}.
    </li>
  </ul>

    <h2>Example entries</h2>
    <p>
    {% for example in context.examples %}
      <a href="{% url 'portal.views.rna_view' upi=example.upi %}">{{ example.upi }}</a>{% if not forloop.last %},{% else %}.{% endif %}
    {% endfor %}
    </p>

    <h2>Links</h2>
    <ul>
      <li><a href="{{ context.expert_db.url }}" target="_blank">{{ context.expert_db.display_name }} homepage</a></li>
      {% if context.expert_db.project_id %}
        <li><a href="http://www.ebi.ac.uk/ena/data/view/{{ context.expert_db.project_id }}" target="_blank">ENA project</a></li>
      {% endif %}
    </ul>

</div>

<div class="col-md-6">
  {% if context.expert_db.display_name == 'miRBase' %}
    <h4>Sequence length distribution</h4>
    <canvas id="myChart" width="500" height="300"></canvas>
  {% endif %}
</div>

</div>


<h2>References</h2>

{% if context.expert_db.display_name == 'miRBase' %}
  <blockquote>
    <strong>
      miRBase: integrating microRNA annotation and deep-sequencing data.
    </strong>
    <br>
      Kozomara A., Griffiths-Jones S.
    <small>
      Faculty of Life Sciences, University of Manchester, Michael Smith Building, Oxford Road, Manchester M13 9PT, UK.
    </small>
    <small>
      Nucleic Acids Res. 39(Database issue): D152-7 (2011 Jan)
    </small>
  </blockquote>
{% elif context.expert_db.display_name == 'SRPDB' %}
    <blockquote>
      <strong>
        Kinship in the SRP RNA family.
      </strong>
      <br>
        Rosenblad MA., Larsen N., Samuelsson T., Zwieb C.
      <small>
        Department of Cell and Molecular Biology, University of Gothenburg, Göteborg, Sweden.
      </small>
      <small>
        RNA Biol 6(5): 508-516 (2009 Nov-Dec)
      </small>
    </blockquote>

    <blockquote>
      <strong>
        The tmRDB and SRPDB resources.
      </strong>
      <br>
        Andersen ES., Rosenblad MA., Larsen N., Westergaard JC., Burks J., Wower IK., Wower J., Gorodkin J., Samuelsson T., Zwieb C.
      <small>
        Department of Molecular Biology, University of Aarhus, C.F. Moellers Allé, Building 139, 8000 Aarhus, Denmark.
      </small>
      <small>
        Nucleic Acids Res. 34(Database issue): D163-8 (2006 Jan)
      </small>
    </blockquote>
{% elif context.expert_db.display_name == 'VEGA' %}
    <blockquote>
      <strong>
        The GENCODE v7 catalog of human long noncoding RNAs: analysis of their gene structure, evolution, and expression.
      </strong>
      <br>
        Derrien T., Johnson R., Bussotti G., Tanzer A., Djebali S., Tilgner H., Guernec G., Martin D., Merkel A., Knowles DG., Lagarde J., Veeravalli L., Ruan X., Ruan Y., Lassmann T., Carninci P., Brown JB., Lipovich L., Gonzalez JM., Thomas M., Davis CA., Shiekhattar R., Gingeras TR., Hubbard TJ., Notredame C., Harrow J., Guigó R.
      <small>
        Bioinformatics and Genomics, Centre for Genomic Regulation and UPF, 08003 Barcelona, Catalonia, Spain.
      </small>
      <small>
          Genome Res. 22(9): 1775-1789 (2012 Sep)
      </small>
    </blockquote>

    <blockquote>
      <strong>
          GENCODE: the reference human genome annotation for The ENCODE Project.
      </strong>
      <br>
        Harrow J., Frankish A., Gonzalez JM., Tapanari E., Diekhans M., Kokocinski F., Aken BL., Barrell D., Zadissa A., Searle S., Barnes I., Bignell A., Boychenko V., Hunt T., Kay M., Mukherjee G., Rajan J., Despacio-Reyes G., Saunders G., Steward C., Harte R., Lin M., Howald C., Tanzer A., Derrien T., Chrast J., Walters N., Balasubramanian S., Pei B., Tress M., Rodriguez JM., Ezkurdia I., van Baren J., Brent M., Haussler D., Kellis M., Valencia A., Reymond A., Gerstein M., Guigó R., Hubbard TJ.
      <small>
        Wellcome Trust Sanger Institute, Wellcome Trust Campus, Hinxton, Cambridge CB10 1SA, United Kingdom.
      </small>
      <small>
        Genome Res. 22(9): 1760-1774 (2012 Sep)
      </small>
    </blockquote>
{% elif context.expert_db.display_name == 'tmRNA Website' %}
    <blockquote>
      <strong>
        The tmRNA website: reductive evolution of tmRNA in plastids and other endosymbionts.
      </strong>
      <br>
        Gueneau de Novoa P., Williams KP.
      <small>
        Nucleic Acids Res. 32(Database issue): D104-8 (2004 Jan).
      </small>
    </blockquote>
{% endif %}


{% endblock content %}


{% block extra_js %}
    {{ block.super }}

    {% if context.expert_db.display_name == 'miRBase' %}
    <script src="{% static "js/vendor/Chart.min.js" %}"></script>
    <script type="text/javascript">

        setupcanvas = function(id, data, options){
            var canvas = $('#'+id);
            var newWidth = canvas.parent().width()
            canvas.prop('width', newWidth);
            canvas.prop('height', 300);
            var ctx = canvas.get(0).getContext("2d");
            var myNewChart = new Chart(ctx).Line(data, options);
        };

        var data = {
            labels : [
            {% for point in context.len_counts %}
                {% if context.len_counts|length > 30 %}
                    ""{% if not forloop.last %},{% else %}{% endif %}
                {% else %}
                    {{ point.len }}{% if not forloop.last %},{% else %}{% endif %}
                {% endif %}
            {% endfor %}
            ],
            datasets : [
                {
                    fillColor : "rgba(220,220,220,0.5)",
                    strokeColor : "rgba(220,220,220,1)",
                    pointColor : "rgba(220,220,220,1)",
                    pointStrokeColor : "#fff",
                    data : [
                        {% for point in context.len_counts %}
                            {{ point.counts }}{% if not forloop.last %},{% else %}{% endif %}
                        {% endfor %}
                    ]
                }
            ]
        }

        var options = {
            //Boolean - Whether to show a dot for each point
            pointDot : false,
            //Boolean - Whether to animate the chart
            animation : false,
        }

        setupcanvas("myChart", data, options);

        $( window ).resize(function() {
            setupcanvas("myChart", data, options);
        });
    {% endif %}
</script>
{% endblock extra_js %}
