{% load staticfiles %}

<div class="navbar navbar-default navbar-static-top">

  <div class="container rnacentral-masthead">

    <!-- local-search -->
    <div class="row">
      <div class="col-md-3">
        <a href="/"><img src="{% static "img/logo/RNAcentral_logo.png" %}" alt="RNAcentral logo" class="rnacentral-header-logo"></a>
      </div>

      <div class="col-md-8 col-md-offset-1">
        <form name="rnacentral-search" method="post" class="global-search">

          <fieldset>
            <div class="input-group">
              <input type="text" placeholder="Search is under development" class="form-control" id="search" tabindex=1 disabled>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search"></span> <span class="caret"></span></button>
                <ul class="dropdown-menu pull-right">
                  <li><a href="#">Advanced search</a></li>
                  <li><a href="#">Search Help</a></li>
                </ul>
              </div><!-- /btn-group -->
            </div><!-- /input-group -->
          </fieldset>

        </form>
      </div>
    </div>
    <!-- /local-search -->

  </div>

  <div class="container rnacentral-masthead-menu">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="/about">About</a></li>
        <li><a href="/api/v1">API</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ncRNA types <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Coming soon</li>
            <li><a href="/coming-soon">miRNA</a></li>
            <li><a href="/coming-soon">SRP RNA</a></li>
            <li><a href="/coming-soon">tRNA</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Expert databases<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'portal.views.expert_database_view' expert_db_name='mirbase'  %}">miRBase</a></li>
            <li><a href="{% url 'portal.views.expert_database_view' expert_db_name='srpdb'  %}">SRPDB</a></li>
            <li><a href="{% url 'portal.views.expert_database_view' expert_db_name='vega'  %}">VEGA</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/help">Help</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="#">Share</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>

</div>
