{% extends "portal/base.html" %}
{% load humanize %}

{% block title %}
RNAcentral
{% endblock %}

{% block content %}

  <br>

  <div class="row">
    <div class="col-md-12">
      <p class="lead text-info">RNAcentral is a new resource to organise data for non-protein coding RNA genes</p>
    </div>
  </div>

	<div class="row">
		<div class="col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <p>
            RNAcentral offers integrated access to a comprehensive and up-to-date set of RNA sequences. These sequences will be provided by a collaborating group of expert databases and supplemented by sequences from the International Nucleotide Sequence Database archives (<a href="http://www.insdc.org/">INSDC</a>). The vision for RNAcentral is presented in the paper by <a href="http://rnajournal.cshlp.org/content/17/11/1941.full">Bateman et al, 2011</a>.

            The RNAcentral portal provides access to the data via sequence and meta-data search, links together the expert resources, and provides a defined identifier space for individual molecules. In a second phase of development, this reference data will be used to provide annotation for genome sequences from across the taxonomic space.
          </p>

          <p>
            The development of RNAcentral is being coordinated by the <a href="http://www.ebi.ac.uk" target="_blank">European Bioinformatics Institute</a>, and is funded by the United Kingdom Biotechnology and Biological Sciences Research Council <a href="http://www.bbsrc.ac.uk/pa/grants/AwardDetails.aspx?FundingReference=BB/J019321/1">grant BB/J019321/1</a>.
          </p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-body">
          <strong>Examples:</strong> <a href="/rna/RNS0000000001">RNS0000000001</a>, <a href="/rna/RNS0000227674">RNS0000227674</a>, <a href="/rna/RNS00005AF4D0">RNS00005AF4D0</a>,
          <a href="/rna/RNS00003ECB7D">RNS00003ECB7D</a>.
        </div>
      </div>

		</div>

		<div class="col-md-5">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-bullhorn"></span> News</h3>
        </div>
        <div class="panel-body">
          <ul>
            <li><a href="#">The tmRNA Website imported into RNAcentral</a></li>
            <li><a href="#">Human lncRNAs from VEGA imported into RNAcentral</a></li>
            <li><a href="#">Micro RNAs from miRBase imported into RNAcentral</a></li>
            <li><a href="#">First RNAcentral data hits the public domain</a></li>
          </ul>
          <p>
            <a href="#">RNAcentral blog</a> | <a href="">RSS feed</a> | <a href="">Mailing list</a>
          </p>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-stats"></span> Statistics</h3>
        </div>
        <div class="panel-body">
          <p>
            <em>{{ context.seq_count|intcomma }}</em> sequences from <em>{{ context.db_count }}</em> Expert Databases.
            <br>
            <strong>Last daily update</strong>: {{ context.last_daily_update.release_date }}
            <br>
            <strong>Last full update:</strong> {{ context.last_full_update.release_date }}
            <br>
            <a href="#">Learn more</a>
          </p>
        </div>
      </div>

		</div>

	</div>


{% endblock content %}
