{% extends "portal/base.html" %}

{% block title %}
{{ rna.upi }}
{% endblock %}

{% block content %}

	<div class="row">
		<div class="col-md-8">
			<p class="lead">RNAcentral is a new resource to organise data for non-protein coding RNA genes.</p>

			<p>
			RNAcentral offers integrated access to a comprehensive and up-to-date set of RNA sequences. These sequences will be provided by a collaborating group of expert database and supplemented by sequences from the International Nucleotide Sequence Database archives (<a href="http://www.insdc.org/">INSDC</a>). The vision for RNAcentral is presented in the paper by <a href="http://rnajournal.cshlp.org/content/17/11/1941.full">Bateman et al, 2011</a>.

			The RNAcentral portal provides access to the data via sequence and meta-data search, links together the expert resources, and provides a defined identifier space for individual molecules. In a second phase of development, this reference data will be used to provide annotation for genome sequences from across the taxonomic space.
			</p>

			<p>
			The development of RNAcentral is being coordinated by the European Bioinformatics Institute, and is funded by the United Kingdom Biotechnology and Biological Sciences Research Council <a href="http://www.bbsrc.ac.uk/pa/grants/AwardDetails.aspx?FundingReference=BB/J019321/1">grant BB/J019321/1</a>.
			</p>

			<p>
				{{ data.seq_count }} sequences from {{ data.db_count }} databases.
			</p>

		</div>

		<div class="col-md-4">
			<h3>News</h3>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h4><strong><a href="#" id="Micro-RNAs-from-miRBase-imported-into-RNAcentral">Micro RNAs from miRBase imported into RNAcentral</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
            RNAcentral is pleased to announce the import of 3661 transcriptome assembly contigs representing mature miRNA sequences from <a href="http://www.mirbase.org/" target="_blank">miRBase</a>.
            The accessions are as follows:
            </p>

            <ul>
            <li><a href="http://www.ebi.ac.uk/ena/data/view/HAAO01000001" target="_blank">HAAO01000001</a>-<a href="http://www.ebi.ac.uk/ena/data/view/HAAO01001094" target="_blank">HAAO01001094</a>, <i>Homo sapiens</i>, 1094</li>
            <li><a href="http://www.ebi.ac.uk/ena/data/view/HAAP01000001" target="_blank">HAAP01000001</a>-<a href="http://www.ebi.ac.uk/ena/data/view/HAAP01001012" target="_blank">HAAP01001012</a>, <i>Mus musculus</i>, 1012</li>
            <li><a href="http://www.ebi.ac.uk/ena/data/view/HAAQ01000001" target="_blank">HAAQ01000001</a>-<a href="http://www.ebi.ac.uk/ena/data/view/HAAQ01000460" target="_blank">HAAQ01000460</a>, <i>Oryza sativa Japonica</i> group, 460</li>
            <li><a href="http://www.ebi.ac.uk/ena/data/view/HAAR01000001" target="_blank">HAAR01000001</a>-<a href="http://www.ebi.ac.uk/ena/data/view/HAAR01000359" target="_blank">HAAR01000359</a>, <i>Drosophila melanogaster</i>, 359</li>
            <li><a href="http://www.ebi.ac.uk/ena/data/view/HAAS01000001" target="_blank">HAAS01000001</a>-<a href="http://www.ebi.ac.uk/ena/data/view/HAAS01000344" target="_blank">HAAS01000344</a>, <i>Tribolium castaneum</i>, 344</li>
            <li><a href="http://www.ebi.ac.uk/ena/data/view/HAAT01000001" target="_blank">HAAT01000001</a>-<a href="http://www.ebi.ac.uk/ena/data/view/HAAT01000254" target="_blank">HAAT01000254</a>, <i>Bombyx mori</i>, 254</li>
            <li><a href="http://www.ebi.ac.uk/ena/data/view/HAAU01000001" target="_blank">HAAU01000001</a>-<a href="http://www.ebi.ac.uk/ena/data/view/HAAU01000137" target="_blank">HAAU01000137</a>, <i>Arabidopsis lyrata</i>, 137</li>
            <li><a href="http://www.ebi.ac.uk/ena/data/view/HAAV01000001" target="_blank">HAAV01000001</a>, <i>Ricinus communis</i>, 1</li>
            </ul>

            <p>
            These may be seen by doing a text search for 'miRBase' from the <a href="http://www.ebi.ac.uk/ena/" target="_blank">ENA search page</a>.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p class="text-muted">
                <i>August 22nd, 2013</i>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h4><strong><a href="#" id="First-RNAcentral-data-hits-the-public-domain">First RNAcentral data hits the public domain</a></strong></h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <p>
            On 8th July RNAcentral announced the first import of new data from <a href="http://rnp.uthscsa.edu/rnp/SRPDB/SRPDB.html" target="_blank">SRPDB</a>. 855 SRPDB entries have been imported as Third Party Annotations using the new "RNAcentral" and "TPA:specialist_db" keywords.
            </p>

            <p>
            The new accessions are HG322958 to HG323812. These entries may be viewed as individual entries from <a href="http://www.ebi.ac.uk/ena/data/view/HG322958" target="_blank">http://www.ebi.ac.uk/ena/data/view/HG322958</a> to <a href="http://www.ebi.ac.uk/ena/data/view/HG323812" target="_blank">http://www.ebi.ac.uk/ena/data/view/HG323812</a>.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <p class="text-muted">
              <i>July 8th, 2013</i>
            </p>
          </div>
        </div>
      </div>
    </div>


		</div>

	</div>

{% endblock content %}