{% extends "portal/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block title %}
{{ rna.upi }}
{% endblock %}

{% block content %}

<div class="page-header">
  <h2><a href="">{{ rna.upi }}</a></h2>
</div>

<div class="row">

  <div class="col-md-12">

    <div class="tabbable">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#overview" data-toggle="tab">Overview</a>
        </li>
        <li class="disabled" data-toggle="tab">
          <a href="#2d">2D</a>
        </li>
        <li class="disabled" data-toggle="tab">
          <a href="#3d">3D</a>
        </li>
        <li class="disabled" data-toggle="tab">
          <a href="#genomes">Genome mapping</a>
        </li>
        <li class="disabled" data-toggle="tab">
          <a href="#relatedseq">Related sequences</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Download
                      <b class="caret"></b>
                  </a>
          <ul class="dropdown-menu">
            <li>
              <a download="{{ rna.upi }}.json" href="/api/v1/rna/{{ rna.upi }}?format=json">json</a>
            </li>
            <li>
              <a href="#">fasta</a>
            </li>
            <li>
              <a href="#">embl</a>
            </li>
            <li>
              <a href="#">xml</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="overview">

          <br>

          <div class="well">
            <h3>
              Overview
            </h3>
            <p>
              {{ rna.len|intcomma }} nucleotides |
              {{ context.num_db }} database{{ context.num_db|pluralize }} | {{ context.num_org }} organism{{ context.num_org|pluralize|intcomma }} |
              first seen {{ context.first_seen }} | last seen {{ context.last_seen }}
            </p>
          </div>

          <div class="well">
            <h3>
              Database cross-references
              {% if context.xref_paginator.paginator.num_pages > 1 %}
                <small>page {{ context.xref_paginator.number }} out of {{ context.xref_paginator.paginator.num_pages }}</small>
              {% else %}
                <small>{{ context.xrefs.count }}</small>
              {% endif %}
            </h3>

            <div class="table-responsive max-height-500">
              <table class="table table-striped table-condensed" id="results">
                <thead>
                  <tr>
                    <th>Database</th>
                    <th>Identifier</th>
                    <th>ncRNA type</th>
                    <th>Division</th>
                    <th>Organism</th>
                    <th>First seen</th>
                    <th>Last seen</th>
                    <th>Active</th>
                  </tr>
                </thead>

                <tbody>
                  {% for xref in context.xref_paginator %}
                    <tr>
                      <td>{{ xref.db.display_name }}</td>
                      <!-- accession -->
                      {% if xref.db.display_name == 'ENA' %}
                        <td><a href="http://www.ebi.ac.uk/ena/data/view/{{ xref.accession.parent_ac }}" target="_blank" title="{{ xref.accession.accession }}">{{ xref.accession.parent_ac }}</a></td>
                      {% elif xref.db.display_name == 'RFAM' %}
                        <td><a href="http://rfam.sanger.ac.uk/family/{{ xref.accession.external_id }}" target="_blank">{{ xref.accession.external_id }}</a> ({{ xref.accession.optional_id }} family)</td>
                      {% elif xref.db.display_name == 'SRPDB' %}
                        <td><a href="http://rnp.uthscsa.edu/rnp/SRPDB/rna/sequences/fasta/{{ xref.accession.external_id }}.fasta" target="_blank">{{ xref.accession.external_id }}</a></td>
                      {% elif xref.db.display_name == 'MIRBASE' %}
                        <td>MIRBASE cross-references not available yet</td>
                      {% endif %}
                      <!-- accession -->
                      <td>{{ xref.accession.feature_name }} </td>
                      <td>{{ xref.accession.division }} </td>
                      <td><a href="http://www.ebi.ac.uk/ena/data/view/Taxon:{{ xref.taxid }}" target="_blank"><em>{{ xref.accession.species }}</em></a></td>
                      <td>{{ xref.created.release_date }}</td>
                      <td>{{ xref.last.release_date }}</td>
                      <td>
                        {% if xref.deleted == 'N' %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div> <!-- .table-responsive -->
            <!-- pagination -->
            {% if context.xref_paginator.paginator.num_pages > 1 %}
            <ul class="pager">
              {% if context.xref_paginator.has_previous %}
                <li>
                  <a href="?xref-page={{ context.xref_paginator.previous_page_number }}">previous</a>
                </li>
              {% endif %}

              {% if context.xref_paginator.has_next %}
                <li>
                  <a href="?xref-page={{ context.xref_paginator.next_page_number }}">next</a>
                </li>
              {% endif %}
            </ul>
            {% endif %}
            <!-- pagination -->
          </div>

          <div class="well">
            <h3>
               References
              {% if context.ref_paginator.paginator.num_pages > 1 %}
                <small>page {{ context.ref_paginator.number }} out of {{ context.ref_paginator.paginator.num_pages }}</small>
              {% else %}
                <small>{{ rna.refs.count }}</small>
              {% endif %}
             </h3>
             <div>
               <ul>
                 {% for ref in context.ref_paginator %}
                   <li>
                     <blockquote>
                       <strong>
                         {% if ref.location|slice:":9" == 'Submitted' %}
                           ISNDC submission
                         {% else %}
                           {{ ref.title|default:"No title available" }}
                         {% endif %}
                       </strong>
                       <br>
                       {{ ref.authors }}
                       <small>{{ ref.location }}</small>
                     </blockquote>
                   </li>
                 {% endfor %}
               </ul>
               <!-- pagination -->
               {% if context.ref_paginator.paginator.num_pages > 1 %}
               <ul class="pager">
                 {% if context.ref_paginator.has_previous %}
                   <li>
                     <a href="?ref-page={{ context.ref_paginator.previous_page_number }}">previous</a>
                   </li>
                 {% endif %}

                 {% if context.ref_paginator.has_next %}
                   <li>
                     <a href="?ref-page={{ context.ref_paginator.next_page_number }}">next</a>
                   </li>
                 {% endif %}
               </ul>
               {% endif %}
               <!-- pagination -->
             </div>
           </div>

           <div class="well">
             <h3>
              Sequence
              <small>
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                        width="110"
                        height="14"
                        id="clippy" >
                <param name="movie" value="{% static "flash/clippy.swf" %}"/>
                <param name="allowScriptAccess" value="always" />
                <param name="quality" value="high" />
                <param name="scale" value="noscale" />
                <param NAME="FlashVars" value="text={{ rna.get_sequence }}">
                <param name="bgcolor" value="#F5F5F5">
                <embed src="{% static "flash/clippy.swf" %}"
                       width="110"
                       height="14"
                       name="clippy"
                       quality="high"
                       allowScriptAccess="always"
                       type="application/x-shockwave-flash"
                       pluginspage="http://www.macromedia.com/go/getflashplayer"
                       FlashVars="text={{ rna.get_sequence }}"
                       bgcolor="#F5F5F5"
                />
                </object>
              </small>
            </h3>
            <p>
              {{ rna.len|intcomma }} nucleotides ({{ context.counts.A|intcomma }} As; {{ context.counts.C|intcomma }} Cs;
              {{ context.counts.G|intcomma }} Gs; {{ context.counts.U|intcomma }} Us), {{ context.counts.N|intcomma|default:"no " }} unknown characters.
            </p>
            <pre class="pre-scrollable">
{{ rna.get_sequence }}</pre>
          </div>

        </div>

        <div class="tab-pane" id="2d">
        </div>

        <div class="tab-pane" id="3d">
        </div>

        <div class="tab-pane" id="genomes">
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock content %}


{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript">
    $('.help').tooltip();
  </script>
{% endblock extra_js %}
