{% extends "portal/base.html" %}
{% load staticfiles %}

{% block title %}
{{ context.upi }}
{% endblock %}

{% block content %}

<div class="page-header">
  <h2><a href="">{{ context.upi }}</a></h2>
</div>

<div class="row">

  <div class="col-md-12">

    <div class="tabbable">

      <ul class="nav nav-tabs">
        <li class="active">
          <a href="#overview" data-toggle="tab">Overview</a>
        </li>
        <li class="disabled" data-toggle="tab">
          <a href="#2d">2D</a>
        </li>
        <li class="disabled" data-toggle="tab">
          <a href="#3d">3D</a>
        </li>
        <li class="disabled" data-toggle="tab">
          <a href="#genomes">Genome mapping</a>
        </li>
        <li class="disabled" data-toggle="tab">
          <a href="#relatedseq">Related sequences</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                      Download
                      <b class="caret"></b>
                  </a>
          <ul class="dropdown-menu">
            <li>
              <a download="{{ rna.upi }}.json" href="/api/v1/rna/{{ rna.upi }}?format=json">json</a>
            </li>
            <li>
              <a href="#">fasta</a>
            </li>
            <li>
              <a href="#">embl</a>
            </li>
            <li>
              <a href="#">xml</a>
            </li>
          </ul>
        </li>
      </ul>

      <div class="tab-content">

        <div class="tab-pane active" id="overview">

          <br>

          <div class="well">
            <h3>
              Overview
            </h3>
            <p>
              {{ rna.len }} nucleotides
            </p>

            <p>
                First seen {{ rna.first_seen }}, last seen {{ rna.last_seen }}.
                <a href="#" data-toggle="tooltip" class="help" title="" data-original-title="Help text here">
                  <span class="glyphicon glyphicon-info-sign"></span>
                </a>
            </p>

            </p>
            <p>
              Found in {{ rna.num_db }} database{{ rna.num_db|pluralize }}. Present in {{ rna.num_org }} organism{{ rna.num_org|pluralize }}.
            </p>
          </div>

          <div class="well">
            <h3>
              Database cross-references
            </h3>

            <div class="table-responsive">
              <table class="table table-striped table-condensed" id="results">
                <thead>
                  <tr>
                    <th>Database</th>
                    <th>Identifier</th>
                    <th>Version</th>
                    <th>Organism</th>
                    <th>First seen</th>
                    <th>Last seen</th>
                    <th>Active</th>
                  </tr>
                </thead>

                <tbody>
                  {% for xref in rna.xrefs.all %}
                    {% ifchanged xref.get_accession.id %}
                    <tr>
                      <td>{{ xref.db.display_name }}</td>
                      <td>{{ xref.get_accession.id }} {% if xref.get_accession.optional_id %} ({{ xref.get_accession.optional_id }}) {% endif %} </td>
                      <td>{{ xref.version }}</td>
                      <td><a href="http://www.ebi.ac.uk/ena/data/view/Taxon:{{ xref.taxid }}" target="_blank"><em>{{ xref.get_accession.species }}</em></a></td>
                      <td>{{ xref.created.release_date }}</td>
                      <td>{{ xref.last.release_date }}</td>
                      <td>
                        {% if xref.deleted == 'N' %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                      </td>
                    </tr>
                    {% endifchanged %}
                  {% endfor %}
                </tbody>
              </table>
            </div> <!-- .table-responsive -->
          </div>

          <div class="well">
            <h3>
              References
            </h3>
            <ul>
              {% for ref in rna.refs.all %}
                <li>
                  <blockquote>
                    <strong>
                      {% if ref.location|slice:":9" == 'Submitted' %}
                        ISNDC submission
                      {% else %}
                        {{ ref.title|default:"No title available" }}
                      {% endif %}
                    </strong>
                    <br>
                    {{ ref.authors }}
                    <small>{{ ref.location }}</small>
                  </blockquote>
                </li>
              {% endfor %}
            </ul>
          </div>

          <div class="well">
            <h3>
              Sequence
              <small>
                <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                        width="110"
                        height="14"
                        id="clippy" >
                <param name="movie" value="{% static "flash/clippy.swf" %}"/>
                <param name="allowScriptAccess" value="always" />
                <param name="quality" value="high" />
                <param name="scale" value="noscale" />
                <param NAME="FlashVars" value="text={{ rna.get_sequence }}">
                <param name="bgcolor" value="#F5F5F5">
                <embed src="{% static "flash/clippy.swf" %}"
                       width="110"
                       height="14"
                       name="clippy"
                       quality="high"
                       allowScriptAccess="always"
                       type="application/x-shockwave-flash"
                       pluginspage="http://www.macromedia.com/go/getflashplayer"
                       FlashVars="text={{ rna.get_sequence }}"
                       bgcolor="#F5F5F5"
                />
                </object>
              </small>
            </h3>
            <p>
              {{ rna.len }} nucleotides ({{ counts.A }} As, {{ counts.C }} Cs, {{ counts.G }} Gs, {{ counts.U }} Us), {{ counts.N|default:"no " }} unknown characters.
            </p>
            <pre class="pre-scrollable">
{{ rna.get_sequence }}</pre>
          </div>

        </div>

        <div class="tab-pane" id="2d">
        </div>

        <div class="tab-pane" id="3d">
        </div>

        <div class="tab-pane" id="genomes">
        </div>

      </div>
    </div>
  </div>
</div>


{% endblock %}


{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript">
    $('.help').tooltip();
  </script>
{% endblock extra_js %}
