body {
  background: #fff url("../img/pale_grey_slight_texture.jpg") top left repeat;
}
.container {
  background: #fff;
}
.label {
  margin-left: 5px;
}
pre {
  background : white;
}
.ebi-img {
  height: 40px;
  width: 140px;
}
.bbsrc-img {
  height: 50px;
  width: 140px;
}
a, a:hover, a:visited, a:link {
  text-decoration: none;
  border-bottom: none;
}
th {
  color: black;
}
/* Define the basic colour your rnacentral masthead */
.rnacentral-masthead {
	background-color: #B9CED1;
}

/* Colour the faux-underline for rnacentral menu items */
.rnacentral-masthead2 {
	background-color: #8F9B9D;
}
/*.rnacentral-masthead2 ul li a:hover,
.rnacentral-masthead2 ul li a:focus,
.rnacentral-masthead2 ul li a:active {
border-bottom: 3px solid #819FA3;
}*/
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a>b {
	color: white;
}
.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: white;
	border-bottom-color: white;
}
.navbar-default {
	background-color: transparent;
}
.navbar {
	margin-bottom: 0px;
}
#local-footer {
	display: none;
}
.rnacentral-header-logo {
	margin-top: 15px;
	width: 300px;
}
div#local-search form fieldset, form#local-search fieldset {
	max-width: 1000px;
}

#global-nav-expanded img {
	margin-top: 5px;
}

form input {
	margin: 0px;
}
pre {
	font-family: monospace;
}
.glyphicon {
	margin-right: 5px;
}
div.alert {
	border: inherit;
}
.nav>li>a {
	padding-right: 5px;
	padding-left: 5px;
	border-right: 1px dotted white;
}
.rnacentral-masthead2 {
	padding: 0px;
}
.navbar-right {
	padding-right: 0px;
}
