/* Position it at the top of the screen */
#show-message {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center it */
  top: 150px; /* 150px from the top */
}

#show-message.show {
  visibility: visible; /* Show the message */
  /* Add animation: Take 0.5 seconds to fade in and out.
  However, delay the fade out process for 4.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 4.5s;
  animation: fadein 0.5s, fadeout 0.5s 4.5s;
}

/* Animations to fade the message in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 150px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 150px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 150px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 150px; opacity: 1;}
  to {top: 0; opacity: 0;}
}