Django==2.2.16
PyYAML==5.3.1
astroid==1.0.1
attrs==17.2.0
psycopg2-binary==2.8
django-cors-headers==3.5.0
django-debug-toolbar==3.1
django-filter==2.4.0
django-maintenancemode==0.11.3
django-rq==2.0
djangorestframework==3.11.2  # 3.12 gives error in the protein-targets and lncrna-targets endpoints
djangorestframework-yaml==2.0.0
djangorestframework-jsonp
logilab-common==1.8.0
pycrypto==2.6.1
python-dateutil==2.8.1
python-memcached==1.59
requests==2.24.0
selenium==3.4.3
six==1.12.0
sqlparse==0.4.1
versiontools==1.9.1
simple-crypt==4.1.7
colorhash==1.0.2

# code style and test coverage reporting
django-jenkins==0.110.0
coverage==4.5.1
pep8==1.7.1
pyflakes==2.0.0
pylint==1.1.0
mock==3.0.5

# markdown support
Markdown==3.3.2
django-markdown-deux==1.0.5
markdown2==2.3.10

# fabric
ecdsa==0.13
Fabric==1.11.1
paramiko==1.18.5

# supervisord
supervisor==4.2.1

# python-rq
rq==1.0
click==7.1.2
redis==3.5.3

# django compressor
django-appconf==1.0.4
django-compressor==2.4
rcssmin==1.0.6
rjsmin==1.1.0

# django cache machine
django-cache-machine==1.1.0

# django_performance_testing
django-performance-testing==0.5.0

# json schema
jsonschema==2.6.0

# simplified static file serving for Python web apps
whitenoise==5.2.0