<div id='go-annotation-chart-modal' class='modal fade' tabindex=-1>
  <div class='modal-dialog modal-lg' role='document'>
    <div class='modal-content'>
      <div class="modal-header">
          <h3 class="modal-title">Ancestor Chart</h3>
      </div>
      <div class="modal-body">

        <span ng-if="$ctrl.modalStatus === 'loading'">
          <i class="fa fa-spinner fa-spin fa-2x"></i>
          Loading ontology ancestors...
        </span>

        <span ng-if="$ctrl.modalStatus === 'failed'">
          Failed to load QuickGO Ancestor chart
        </span>

        <span ng-if="$ctrl.modalStatus === 'loaded'">
          <img ng-src="{{ $ctrl.chartData }}" />
        </span>

      </div>
      <div class="modal-footer">
          <button ng-click="$ctrl.toggleGoModal({termId: null})" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
    </div>
  </div>
</div>