{% extends "portal/base.html" %}
{% load static %}

{% block title %}
    Sequence search API
{% endblock %}

{% block content %}
    <div class="row">
      <div class="col-12">
        <h1><i class="fa fa-book"></i> Sequence search API</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>Overview</h2>
        <p>
            The RNAcentral sequence similarity search API allows you to perform most of the same actions through
            your own tools as you can through the web interface. Any tool capable of making HTTP requests can
            communicate with this API, for example <a href="https://curl.se/" target="_blank">curl</a>.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>API Throttling</h2>
        <p>
            The maximum number of requests from the same IP address is limited to 10 requests per minute.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h2>Example script</h2>
        <p>
            An example of a Python script to perform searches for each record of a FASTA file is provided below.
            It uses the biopython package and requires python >= 3.5.
        </p>
        <p>
            You can use this script to search for sequences in the RNAcentral database or in one of the
            <a href="/expert-databases">Expert Databases</a>.
        </p>
        <p>
            The results will be organized in a new directory. A file in JSON format containing the metadata and the
            search results will be created. This file will be named with the description of the sequence.
            Here is an example:
        </p>
        <p>
            <code>
                results<br />
                |-- URS00001F7A66_9031 Gallus gallus (chicken) gga-let-7g-5p.json<br />
                |-- ...
            </code>
        </p>
        <pre style="background:#f6f8fa;padding:1em;border-radius:4px;overflow-x:auto;"><code>"""
Copyright [2009-present] EMBL-European Bioinformatics Institute
Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at
http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

Usage: python search.py [file] [database]
Examples:
python search.py file.fasta               # search in all databases
python search.py file.fasta mirbase       # search in miRBase only
"""

import json
import math
import requests
import sys
import time
from Bio import SeqIO
from pathlib import Path

server = "https://sequence-search.rnacentral.org/"


def get_sequence_search_result(description, sequence, job_id):
    """Check job status and retrieve sequence search results."""
    get_status = requests.get(server + "api/job-status/" + job_id)
    job_status = json.loads(get_status.text)["status"]

    if job_status == "finished":
        start = 0
        get_result = requests.get(
            server + "api/facets-search/" + job_id + "?start=" + str(start) + "&amp;size=100"
        )
        get_result = json.loads(get_result.text)
        results = [get_result["entries"]]

        hit_count = get_result["hit_count"]
        iter_number = int(math.ceil(hit_count / 100.0))

        for num in range(iter_number - 1):
            start += 100
            new_request = requests.get(
                server + "api/facets-search/" + job_id + "?start=" + str(start) + "&amp;size=100"
            )
            if new_request and new_request.text:
                new_request_result = json.loads(new_request.text)
                results.append(new_request_result["entries"])

        return {
            "job_id": job_id,
            "hits": hit_count,
            "status": job_status,
            "description": description,
            "sequence": str(sequence),
            "results": [item for sublist in results for item in sublist],
        }

    elif job_status in ("error", "not_found"):
        print("There was an error for record: {}".format(description))
        return {"job_id": job_id, "status": job_status, "description": description, "sequence": str(sequence)}

    elif job_status in ("pending", "running"):
        time.sleep(10)
        return get_sequence_search_result(description, sequence, job_id)


def main():
    if len(sys.argv) == 1:
        print("You must specify the FASTA file")
        exit()
    elif len(sys.argv) == 2:
        filename = sys.argv[1]
        database = []
    elif len(sys.argv) == 3:
        filename = sys.argv[1]
        database = [sys.argv[2]]
    else:
        print("Usage: python search.py file.fasta [database]")
        exit()

    Path("results").mkdir(parents=True, exist_ok=True)

    with open(filename, mode="r") as handle:
        for record in SeqIO.parse(handle, "fasta"):
            description = record.description
            sequence = record.seq

            data = {"databases": database, "sequence": str(sequence)}
            post_job = requests.post(server + "api/submit-job", json=data)

            job_id = None
            if post_job.status_code == 200:
                job_id = json.loads(post_job.text)["job_id"]
            else:
                print("Failed to submit job for record:\n{}\n{}".format(description, sequence))

            if job_id:
                result = get_sequence_search_result(description, sequence, job_id)
                if result:
                    print("Saving results for {}".format(description))
                    with open("results/" + description + ".json", "w") as f:
                        json.dump(result, f)


if __name__ == "__main__":
    main()
</code></pre>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h2>Swagger</h2>
        <div class="panel panel-default">
          <div class="panel-heading">
            <p class="panel-title">Explore the API through Swagger</p>
          </div>
          <div class="panel-body">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe class="embed-responsive-item" src="https://sequence-search.rnacentral.org/docs" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
