<div ng-if="$ctrl.go_annotations.length > 0 && !$ctrl.error">
  <p>

  <div class="force-scrollbars" style="max-height: 200px; overflow-y: scroll;">
    <table class="table table-hover table-condensed" id="go-annotations">
      <thead>
      <th>Qualifier</th>
      <th>GO Term</th>
      <th>Evidence Code</th>
      <th>Source</th>
      </thead>

      <tbody>
      <tr ng-if="!$ctrl.error" ng-repeat="annotation in $ctrl.go_annotations">
        <td>{{ annotation.qualifier }}</td>
        <td>
          <a class="btn btn-circle btn-default btn-sm" ng-click="$ctrl.openGoChartModal(annotation.go_term_id)" type="button"><i class="fa fa-sitemap" uib-tooltip="View {{annotation.go_term_id}} ancestor chart"></i></button>
          <a class="btn btn-sm" href='/search?q={{ annotation.qualifier }}:"{{ annotation.go_term_id }}"'><i class="fa fa-search" uib-tooltip="Search for sequences annotated with {{annotation.go_term_id}}"></i></a>
          <a href="http://www.ebi.ac.uk/QuickGO/term/{{ annotation.go_term_id }}" class="no-icon">{{ annotation.go_term_name }}</a>
        </td>
        <td>
          <a class="btn btn-circle btn-default btn-sm" ng-click="$ctrl.openGoChartModal(annotation.evidence_code_id)" type="button"><i class="fa fa-sitemap" uib-tooltip="View {{annotation.evidence_code_id}} ancestor chart"></i></a>
          <a href="https://www.ebi.ac.uk/QuickGO/term/{{ annotation.evidence_code_id }}" class="no-icon">{{ annotation.evidence_code_name }}</a>
        </td>
        <td>
            <a ng-if="annotation.assigned_url" href="{{ annotation.assigned_url }}" class="no-icon">{{ annotation.assigned_by }}</a>
            <span ng-if="!annotation.assigned_url">{{ annotation.assigned_by }}</span>
        </td>
      </tr>

      <tr ng-if="$ctrl.error">
        <td colspan="3" style="text-align: center;">
            <span>
              <i class="fa fa-exclamation-circle fa-2x"></i>
              Failed to load data from server
            </span>
        </td>
      </tr>
      </tbody>
    </table>

</div>

<span>
  View in
  <a href="https://www.ebi.ac.uk/QuickGO/annotations?geneProductId={{ $ctrl.go_annotations[0].rna_id }}">QuickGO</a>
<span>

  <div id='go-annotation-chart-modal' class='modal fade' tabindex=-1>
    <div class='modal-dialog modal-lg' role='document'>
      <div class='modal-content'>
        <div class="modal-header">
            <h3 class="modal-title">Ancestor Chart</h3>
        </div>
        <div class="modal-body">

          <span ng-if="$ctrl.modal_status === 'loading'">
            <i class="fa fa-spinner fa-spin fa-2x"></i>
            Loading ontology ancestors...
          </span>

          <span ng-if="$ctrl.modal_status === 'failed'">
            Failed to load QuickGO Ancestor chart
          </span>

          <span ng-if="$ctrl.modal_status === 'loaded'">
            <img src='{{ $ctrl.chart_data }}'></img>
          </span>

        </div>
        <div class="modal-footer">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
    </div>
  </div>

  </p>
</div>

<p ng-if="$ctrl.go_annotations.length == 0">No GO annotations available.</p>
