# The HH cluster has 8 workers. Each k8s worker comes with 8 cores and 32GB of RAM.
# The resources of this cluster will be divided as follows:
# - Public website (requires 36GB to 52GB of RAM)
# - Test website (requires 8GB of RAM)
# - Export app (requires 30GB of RAM)
# - Rfam batch search (requires 10GB of RAM)
#
# Using up to 100GB of RAM out of a total of 256GB

# Database
database: db-hh-pg-16

# Proxy
proxy: proxy-hh

# EBI search index
searchIndex: search-index-prod

# Install web components
webComponents: "false"

# Create sitemaps
sitemaps: "true"

# Add environment variable
setEnv: "prod"

# Memcached
# Using only 1 because no data is shared between replicas.
# This link explains a little more: https://github.com/helm/charts/issues/11773
memcachedPort: 11211
memcachedReplicas: 1
memcachedRequestsMemory: "16000Mi"
memcachedRequestsCPU: "1000m"
memcachedLimitsMemory: "16000Mi"
memcachedServiceMemory: "14000"

# Nginx
nginxPort: 8000
nginxTargetPort: 80
nginxReplicas: 2
nginxRequestsMemory: "2000Mi"
nginxRequestsCPU: "1000m"
nginxLimitsMemory: "2000Mi"

# RNAcentral
rnacentralBranch: master
rnacentralPort: 8000
rnacentralReplicas: 1
rnacentralRequestsMemory: "2000Mi"
rnacentralRequestsCPU: "1000m"
rnacentralLimitsMemory: "2000Mi"
