{% extends "portal/base.html" %}

{% block content %}

<div class="row">

  <br>

  <div class="col-md-8">
  	<h2>About RNAcentral</h2>
	<p>
	    RNAcentral offers integrated access to a comprehensive and up-to-date set of RNA sequences. These sequences will be provided by a collaborating group of expert database and supplemented by sequences from the International Nucleotide Sequence Database archives (<a href="http://www.insdc.org/">INSDC</a>). The vision for RNAcentral is presented in the paper by <a href="http://rnajournal.cshlp.org/content/17/11/1941.full">Bateman et al, 2011</a>.

	    The RNAcentral portal provides access to the data via sequence and meta-data search, links together the expert resources, and provides a defined identifier space for individual molecules. In a second phase of development, this reference data will be used to provide annotation for genome sequences from across the taxonomic space.
	</p>

	<p>
	    The development of RNAcentral is being coordinated by the <a href="http://www.ebi.ac.uk" target="_blank">European Bioinformatics Institute</a>, and is funded by the United Kingdom Biotechnology and Biological Sciences Research Council <a href="http://www.bbsrc.ac.uk/pa/grants/AwardDetails.aspx?FundingReference=BB/J019321/1">grant BB/J019321/1</a>.
	</p>
  </div>

  <div class="col-md-4">
  	Sidebar
  </div>

</div>


{% endblock %}