{% extends "portal/base.html" %}
{% load staticfiles %}

{% block stylesheets %}
  {{ block.super }}
  <style type="text/css">
    .chart {
      display: block;
      margin: 20px 0px;
    }

    text {
      font-size: 16px;
      font-weight: bold;
    }

    rect {
      fill: none;
    }

    .arc path {
      stroke: #fff;
    }
  </style>
{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-12">
    <h1>RNAcentral Expert Databases</h1>

    <div id="treemap">
        Five expert databases have already been <span class="label label-success">imported</span> into RNAcentral,
        and work is underway to import the other <span class="label label-primary">member databases</span>.
    </div>

    <h2>Sequence statistics</h2>

    <div class="col-md-5">
      <table class="table table-hover table-condensed table-bordered">
        <tr>
          <th>Expert Database</th>
          <th>Sequences</th>
        </tr>
        <tr>
          <td>ENA</td>
          <td>>6M</td>
        </tr>
        <tr>
          <td><a href="/expert-database/vega">VEGA</a></td>
          <td>21,388</td>
        </tr>
        <tr>
          <td><a href="/expert-database/tmrna-website">tmRNA Website</a></td>
          <td>21,318</td>
        </tr>
        <tr>
          <td><a href="/expert-database/mirbase">miRBase</a></td>
          <td>3,661</td>
        </tr>
        <tr>
          <td><a href="/expert-database/srpdb">SRPDB</a></td>
          <td>855</td>
        </tr>
      </table>
    </div>

  </div>

</div>

{% endblock %}

{% block extra_js %}
  {{ block.super }}
  <script type="text/javascript" src="{% static "js/vendor/d3/d3.min.js" %}"></script>
{% endblock %}


{% block extra_js_uncompressed %}
  {{ block.super }}

  <script type="text/javascript" src="{% static "js/d3.ExpertDatabaseTreemap.js" %}"></script>
  <script type="text/javascript">

    $(document).ready(function () {

        // initializing treemap
        ExpertDatabaseTreemap("#treemap");

        //initializing tooltips
        $("svg rect").tooltip({
            'container': 'body',
            'placement': 'top'
        });

        $("svg path").tooltip({
            'container': 'body',
            'placement': 'right'
        });
    });

  </script>

{% endblock %}