<div>
  <h2>
    Conserved RNA structures
    <small ng-if="features.length > 0">
      {{ $ctrl.distinctFeatures.length }} features<span ng-if="features.length != $ctrl.distinctFeatures.length">, {{ features.length }} locations</span>
      <a ng-href="{{ help }}" uib-tooltip="Learn more about CRS in RNAcentral &rarr;" style="color:inherit;">
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </a>
    </small>
  </h2>

    <ul ng-if="$ctrl.distinctFeatures.length > 0" class="media-list">
      <li ng-repeat="feature in $ctrl.distinctFeatures" ng-class="{ 'col-md-10 media': $ctrl.distinctFeatures.length === 1, 'col-md-6 media': $ctrl.distinctFeatures.length > 1 }" style="margin-bottom: 1.5em; padding-left: 5px;">

        <div ng-class="{'col-md-2 media-left media-top': $ctrl.distinctFeatures.length == 1, 'col-md-4 col-lg-3 media-left media-top': $ctrl.distinctFeatures.length > 1}" style="padding-left: 0;" uib-tooltip="Consensus secondary structure of Rfam model {{ feature.metadata.crs_id }}">
          <a ng-href="{{ feature.rthPageUrl }}" class="no-icon">
            <img class="media-object thumbnail"
              ng-src="{{ feature.secondaryStructureUrl }}"
              style="max-width: 120px; max-height: 120px;"
              alt="{{ feature.metadata.crs_id }} secondary structure">
          </a>
        </div>

        <div class="media-body">
          <h4 class="media-heading" style='padding-left: 0px;'>
            <a ng-href="{{ feature.rthPageUrl }}" class="no-icon">
              {{ feature.metadata.crs_id }}
            </a>
          </h4>
          <ul>
            <li ng-repeat="location in feature.locations">Matches at:<strong>{{ location.start }}-{{ location.stop }}</strong></li>
          </ul>
        </div>

      </li>
    </ul>
    <p ng-if="$ctrl.features.length == 0">No data on conserved RNA structures available.</p>
</div>
