<h1>
  <a href="{{ $ctrl.expertDb.url }}" target="_blank" class="no-icon">
    <img ng-src="{{ $ctrl.normalizeExpertDbName.labelToImageUrl($ctrl.expertDb.label) }}" alt="{{ $ctrl.expertDb.name }} logo" class="img-rounded"  style="max-height: 40px; max-width: 100px;">
  </a>
  {{ $ctrl.expertDb.name }} Expert Database
    <small ng-if="$ctrl.expertDb.status != 'archived'"><label class="badge">{{ $ctrl.expertDb.status }}</label></small>
    <small ng-if="$ctrl.expertDb.status == 'archived'"><label class="badge">{{ $ctrl.expertDb.status }}</label></small>
</h1>

<div class="row">
  <div class="col-md-12">
    <p>
      <a href="{{ $ctrl.expertDb.url }}" target="_blank">{{ $ctrl.expertDb.name }}</a>
      <span ng-if="$ctrl.expertDb.abbreviation">({{ $ctrl.expertDb.abbreviation }})</span>
    <span ng-bind-html="$ctrl.expertDb.description"></span>.
    </p>
  </div>
</div>
