<div class="col-md-6">
  <h2>Overview</h2>
  <ul>
    <li>
      <strong>{{ $ctrl.expertDb.num_sequences | number }}</strong> distinct sequences
      from <strong>{{ $ctrl.expertDb.num_organisms | number }}</strong> <ng-pluralize count="$ctrl.expertDb.num_organisms" when="{'one': 'organism', 'other': 'organisms'}"></ng-pluralize>
      contributed to RNAcentral
    </li>
    <li>
      the shortest sequence has <strong>{{ $ctrl.expertDb.min_length | number }}</strong> nucleotides, the longest <strong>{{ $ctrl.expertDb.max_length | number }}</strong>
    </li>
    <li>
      the average length is <strong>{{ $ctrl.expertDb.avg_length | number:0 }}</strong> <ng-pluralize count="$ctrl.expertDb.avg_length" when="{'one': 'nucleotide', 'other': 'nucleotides'}"></ng-pluralize>
    </li>
      <li ng-if="$ctrl.expertDb.version">
        database version: <em>{{ $ctrl.expertDb.version }}</em>
      </li>
  </ul>

  <h2>Example entries</h2>
  <p>
    <span ng-repeat="example in $ctrl.expertDb.examples">
      <a href="{{ $ctrl.routes.rnaViewWithTaxid({ upi: example.upi, taxid: example.taxid }) }}">{{ example.upi }}</a>{{$last ? '' : ', '}}
    </span>
  </p>

  <p>
    <a class="btn btn-primary" ng-click="$ctrl.search.search('expert_db:&quot;' + $ctrl.expertDb.name + '&quot;')" rel="nofollow">Browse all {{ $ctrl.expertDb.name }} sequences</a>
  </p>

  <h2>Links</h2>
  <ul>
    <li><a href="{{ $ctrl.expertDb.url }}" target="_blank">{{ $ctrl.expertDb.name }} homepage</a></li>
    <li><a href="ftp://ftp.ebi.ac.uk/pub/databases/RNAcentral/current_release/id_mapping/database_mappings/">Mapping between {{ $ctrl.expertDb.name }} and  RNAcentral accessions</a>
    <li ng-if="$ctrl.expertDb.name === 'Vega'"><a href="http://www.gencodegenes.org/" target="_blank">GENCODE</a></li>
  </ul>

  <div class="references">

    <h2>References</h2>

    <blockquote ng-repeat="publication in $ctrl.expertDb.references">
        <publication publication="publication"></publication>
    </blockquote>
  </div>

</div>
