<div>
  <form novalidate name="$ctrl.queryForm" class="global-search" ng-submit="$ctrl.submitQuery()">
    <fieldset>
    <div class="form-group" ng-class="($ctrl.submitted && $ctrl.queryForm.$invalid) ? 'has-error' : ''">
      <div class="input-group input-group-lg">
        <input type="text"
               class="form-control"
               id="query-text"
               name="text"
               tabindex="1"
               ng-model="$ctrl.query"
               ng-minlength="2"
               ng-maxlength="2000"
               ng-change="$ctrl.submitted = false;"
               autocomplete="off"
               autocapitalize="off"
               autocorrect="off"
               spellcheck="off"
               placeholder="Search by gene, species, accession, or any keyword"
               uib-typeahead="suggestion for suggestion in $ctrl.autocomplete($viewValue)"
               typeahead-focus-first="false"
               typeahead-on-select="$ctrl.submitQuery()"
               typeahead-loading="loadingSuggestions"
               typeahead-no-results="noSuggestions"
               autofocus
               required>
        <div class="input-group-btn">
          <button type="submit" class="btn btn-primary">
            <i id="text-search-icon" style="width: 15px;" ng-class="['fa', {'fa-spinner fa-pulse': loadingSuggestions, 'fa-search': !loadingSuggestions}]"></i>
            <span class="hidden-xs-inline">Search</span>
          </button>
        </div><!-- /input-group-btn -->
      </div><!--input-group -->

      <div class="help-block example-searches row">
          <div class="col-md-9 col-sm-9 col-xs-7">
            Examples:
            <span ng-repeat="example in $ctrl.randomExamples">
                <a href="" rel="nofollow" ng-click="$ctrl.search.search(example.search_string)" class="{{$last ? 'hidden-md' : ''}}">{{example.label}}</a>{{$last ? '' : ', '}}
            </span>
          </div>
          <div class="col-md-3 col-sm-3 col-xs-5">
          <a class="pull-right" href="" ng-click="$ctrl.openTextSearchHelpModal('lg')"><i class="fa fa-question-circle" aria-hidden="true"></i> How to search</a>
          </div>
      </div>
      <label class="control-label ng-cloak has-error"
             for="query-text" ng-show="$ctrl.submitted && ($ctrl.queryForm.text.$error.required || $ctrl.queryForm.text.$error.minlength)"
             ng-cloak>
        Your query is too short
      </label>
      <label class="control-label ng-cloak"
             for="query-text" ng-show="$ctrl.submitted && ($ctrl.queryForm.text.$error.maxlength)"
             ng-cloak>
        Your query is too long
      </label>
    </div><!-- /form-group -->
    </fieldset>
  </form><!-- /form -->

  <!-- Text search help modal -->
  <div id="text-search-help-modal-parent" class="modal fade" tabindex='-1'>
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h1><i class="fa fa-search"></i> Text search <small><a target="_blank" href="/help/text-search">open in a separate window</a></small></h1>
        </div>
        <div class="modal-body" id="modal-body">
        </div> <!-- modal-body -->
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div><!-- /ng-controller -->
