<div ng-if="$ctrl.genomes && $ctrl.total > 0">
  <h2>
    Target lncRNAs
    <small ng-if="$ctrl.total > 0">{{ $ctrl.total | number }} total</small>
    <small>
      <a ng-href="{{ $ctrl.help }}" uib-tooltip="Learn more about lncRNA targets &rarr;" style="color:inherit;"><i class="fa fa-question-circle" aria-hidden="true"></i></a>
    </small>
  </h2>

  <div ng-if="$ctrl.total > 0">
    <div class="table-responsive" style="overflow-y: auto; max-height: 300px;">
      <table class="table table-hover table-condensed" id="related-lncrna-table">
        <thead>
          <tr>
            <th>View in LncBase</th>
            <th>View in Ensembl</th>
            <th>View in RNAcentral</th>
            <th>Target description</th>
            <th>Methods</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-if="$ctrl.status === 'loading'">
            <td colspan="4" style="text-align: center;">
              <span>
                <i class="fa fa-spinner fa-spin fa-2x"></i>
                Loading data on lncRNA targets...
              </span>
            </td>
          </tr>
          <tr ng-if="$ctrl.status === 'error'">
            <td colspan="4" style="text-align: center;">
              <span>
                <i class="fa fa-exclamation-circle fa-2x"></i>
                Failed to load data from server
              </span>
            </td>
          </tr>
          <tr ng-if="$ctrl.status === 'success'" ng-repeat="protein in $ctrl.displayedProteins">
            <td class="col-lg-2">
              <a ng-href="{{ $ctrl.lncbaseUrl(protein) }}" target="_blank" uib-tooltip="Explore supporting publications, tissues, cell lines, and more"><span ng-if="protein.source_accession">{{ protein.source_accession }}</span><span ng-if="!protein.source_accession">unknown</span></a>
            </td>
            <td class="col-lg-2">
              <a ng-href="{{ $ctrl.ensemblUrl(protein) }}" target="_blank">{{ protein.target_accession.split(":")[1] }}</a>
              <a href="search?q=interacting_rna:&quot;{{ protein.target_accession.split(':')[1] }}&quot;" class="margin-left-5px ng-scope" uib-tooltip="Find other miRNAs targeting this lncRNA"><i class="fa fa-search"></i></a>
            </td>
            <td>
              <a ng-if="protein.target_urs_taxid" href="/rna/{{ protein.target_urs_taxid }}">{{ protein.target_urs_taxid }}</a>
            </td>
            <td class="col-lg-6">
              {{ protein.description.split(" [")[0] }}
            </td>
            <td class="col-lg-2">
              <span ng-repeat="method in protein.methods">{{ method }}<span ng-show="!$last">, </span></span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Pagination: pages list and page size select -->
    <div ng-if="$ctrl.status == 'success'" style="margin-top: 5px; margin-left: 5px; margin-right: 5px;">
      <ul ng-if="$ctrl.pages.length > 1" class="pagination pagination-sm" style="display:inline">
        <li ng-if="$ctrl.page != 1" ng-click="$ctrl.onPageChanged(1)"><a href="">1</a></li>
        <li ng-if="$ctrl.page > 3" ng-click="$ctrl.onPageChanged(1)"><a href="">&#8230;</a></li>
        <li ng-if="$ctrl.page > 2" ng-click="$ctrl.onPageChanged($ctrl.page - 1)"><a href="">{{ $ctrl.page - 1 }}</a></li>
        <li class="active"><a href="">{{ $ctrl.page }}</a></li>
        <li ng-if="$ctrl.page < $ctrl.pages.length - 1" ng-click="$ctrl.onPageChanged($ctrl.page + 1)"><a href="">{{ $ctrl.page + 1 }}</a></li>
        <li ng-if="$ctrl.page < $ctrl.pages.length - 2" ng-click="$ctrl.onPageChanged($ctrl.pages.length)"><a href="">&#8230;</a></li>
        <li ng-if="$ctrl.page != $ctrl.pages.length" ng-click="$ctrl.onPageChanged($ctrl.pages.length)"><a href="">{{ $ctrl.pages.length }}</a></li>
      </ul>
      <span class="pull-right" ng-if="$ctrl.total > $ctrl.pageSize">
        <select ng-model="$ctrl.pageSize" ng-change="$ctrl.onPageSizeChanged($ctrl.pageSize, '{{ $ctrl.pageSize }}')" ng-options="v.value as v.key for v in [{key:1, value:1}, {key: 5, value: 5}, {key: 10, value: 10}, {key: 20, value: 20}, {key: 50, value: 50}, {key: 'all', value: 1000000000000}]"></select> records per page
      </span>
      <div class="clearfix"></div>
    </div>
  </div>

  <p ng-if="$ctrl.total == 0">No protein targets are known for this sequence. <a ng-href="{{ $ctrl.help }}">Learn more &rarr;</a></p>
</div>
